# Ignore everything by default
*

# Allow git system files
!.gitignore
!.github/
!.github/**

# Allow Design/Code directories
!LP_Mockup/
!LP_Mockup/**

# Allow Web directories
!jugocorp/
!jugocorp/**

# Allow Admin Dashboard
!admin/
!admin/**
