# Ignore everything by default
*

# Allow git system files
!.gitignore

# Allow Design/Code directories
!30_Design/
!30_Design/LP_Mockup/
!30_Design/LP_Mockup/**

# Allow future web directories (example)
# !40_Web/
