name: Deploy to Xserver
on:
  push:
    branches:
      - main
    paths:
      - 'jugocorp/**'

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4
      
      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          # Jugoリポジトリ内の jugocorp/ フォルダ内のみをアップロードする
          local-dir: ./jugocorp/
          # Xserverの初期ドメイン（テスト環境）へのアップロードパス
          server-dir: ./xs033143.xsrv.jp/public_html/
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            **/_local_tools/**
            *.md
