name: Deploy to Xserver
on:
  push:
    branches:
      - main
    paths:
      - 'jugocorp/**'

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4
      
      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          # ▼ここは「GitHub上でのファイルの場所」なので ./ が付くのが正解です
          local-dir: ./jugocorp/
          # ▼ここが修正した一番の肝です！ ./ を取り、絶対パス（ / ）始まりにしました
          server-dir: /xs033143.xsrv.jp/public_html/jugocorp/
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            **/_local_tools/**
            *.md
